# trading_signal_app/requirements.txt
flask==2.3.3
pandas==2.1.4
numpy==1.26.2
joblib==1.3.2
requests==2.31.0
pandas-ta==0.3.14b0
scikit-learn==1.2.2
gunicorn==21.2.0
yfinance==0.2.33
httpx==0.25.2
imbalanced-learn==0.10.1
